<server description="Server for testing microProfile">

    <include location="../fatTestPorts.xml"/>

    <featureManager>
        <feature>microProfile-4.0</feature>
        <feature>mpConfig-1.4</feature> <!-- This will fail to load because it is not mpCompatible-4.0 -->
    </featureManager>
</server>